@{
    ViewBag.Title = "All About Fledgling";
}
<h2>@ViewBag.Title</h2>

<hr />
@*<h3>@ViewBag.Message</h3>*@

<p>Lots of stuff!</p>
<p>Version 0.1 - blah blah blah</p>
<p>Things it does and changes and adcopy!</p>