@{
    ViewBag.Title = "Contact Fledgling";
}

<h2>@ViewBag.Title</h2>
<hr />
@*<h3>@ViewBag.Message</h3>*@

<address>
    Address maybe?
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>