@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fledgling</h1>
    <p class="lead">Fledgling is a free web application for building "Starting Point" project plans for software projects.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Point</h2>
        <p>
            The point of all this is to walk you through making a "one page" project plan in something like 10 minutes.  After this is done you can edit, expand, and/or export your plan in a variety of ways.
        </p>
        @Html.ActionLink("The Long Version", "About", "Home", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Get Started</h2>
        <p>You know whats up.  Register an account or Login to an existing account. Thats all up on the top right of the screen or ...</p>
        @Html.Partial("_LoginPartial")
    </div>
    <div class="col-md-4">
        <h2>Get to the Business</h2>
        <p>If your logged in, get to it.</p>
        @Html.ActionLink("Fledge Something", "Index", "Project", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>